<div class="panel">

  <div class="row" style="line-height: 1.2em; text-indent: 50px;">
    <div class="twelve columns">  
      <p>
        English is a skill that cannot be developed easily in a person. Creative writing, grammar and vocabulary can’t be learnt in a day. But, our special courses show everyone, from kindergarten to high school, the path that one must take to start learning these skills while also giving them an opportunity to practice them.
      </p>
      <p>
        The three courses that we currently offer are: creative writing, story writing and storytelling. We help students open their minds and think outside the box. Exercises include expanding sentences, improving grammar and speaking English, among others. The little ones even get a change to improve pronunciation and vocabulary in a stimulating environment. Children will also be introduced to the world of story writing with its different genres.
      </p>
    </div>
  </div>

  <div class="row" style="line-height: 1.2em">
    <div class="two columns">  
      <%= image_tag("skype.png") %>
    </div>
    <div class="ten columns">  
        For students who live far away from Noida we also provide the same classes on Skype!
    </div>
  </div>

</div>
