<div class="row">
  <div class="twelve columns" style="line-height: 1.3em">

    <div class="panel" style="line-height: 1.3em">
      <div class="row">
        <div class="three columns text-align-right">
          <strong>Email: </strong>
        </div>
        <div class="nine columns">
          <a href="mailto:rituvaish@gmail.com">rituvaish@gmail.com</a>
        </div>
      </div>
    </div>

    <div class="panel" style="line-height: 1.3em">
      <div class="row">
        <div class="three columns text-align-right">
          <strong>Email: </strong>
        </div>
        <div class="nine columns">
          <a href="mailto:rituvaish@gmail.com">rituvaish@gmail.com</a>
        </div>
      </div>
    </div>

    <div class="panel" style="line-height: 1.3em">
      <div class="row">
        <div class="three columns text-align-right">
          <strong>Address: </strong>
        </div>
        <div class="nine columns">
          B-126/7 Sector-41<br>B Block Market<br>Noida, 201303 (U.P.)
        </div>
      </div>
    </div>

     <div class="panel" style="line-height: 1.3em">
      <div class="row">
        <div class="three columns text-align-right">
          <strong>Blog: </strong>
        </div>
        <div class="nine columns">
          <a href="http://letswritegw.wordpress.com">letswritegw.wordpress.com</a>
        </div>
      </div>
    </div>

  </div>
</div>
