<div class="row">

  <div class="four columns">
    <h3>Creative Writing</h3>
    <div class="row">
      <div class="twelve columns">
        <img src="http://placehold.it/3500x1500">
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        Not everyone is a J.K.Rowling. But in this program at GW, we help students open their minds and think outside the box. Exercises include expanding sentences, improving grammar and speaking English. Previous classes included teaching the children to use their sense organs to do descriptive writing.
      </div>
    </div>
  </div>

  <div class="four columns">
    <div class="row">
      <div class="twelve columns">
        <img src="http://placehold.it/3500x1500">
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <h3>Story Telling</h3>
        For the kids of nursery and kindergarten we have this program that helps them with English comprehension and improving their spoken English at the same time. Bundled with lots of craft activities, the students learn 3 letter words in a stimulating environment.
      </div>
    </div>
  </div>

  <div class="four columns">
    <div class="row">
      <div class="twelve columns">
        <img src="http://placehold.it/3500x1500">
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <h3>Story Writing</h3>
        Children will be introduced to the world of story writing with its different genres. How to develop a story from a basic thread is a hard thing to learn, but we communicate many techniques to the students. This is a new program and innovative ideas will be introduced as the program goes along.
      </div>
    </div>
  </div>

</div>

